$principal-color:#ac0202;
$second-color: rgb(232, 232, 232);
$special-font: deathnote;
@font-face {
    font-family: deathnote;
    src: url(../deathnote_font/DEATHNOTE_Font/DEATHNOTEFont.ttf);
}
@mixin flexrow {
    display: flex;
    flex-direction: row;
}
@mixin flexcol {
    display: flex;
    flex-direction: column;
}
@mixin u-paddings {
    padding: 0 10%;
}
@mixin filter {
 filter: brightness(0) saturate(100%) invert(12%) sepia(81%) saturate(7462%) hue-rotate(9deg) brightness(69%) contrast(110%);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: black;
}
a{
    color: whitesmoke;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: $principal-color;
}
body {
    background-color: rgb(20, 3, 3);
    header{
        color: black;
        //
        width: 100vw;
        height: 10vh;
        //
        @include flexrow;
        justify-content: space-around;
        gap: 15vw;
        align-items: center;
        text-transform: uppercase;
        #logo{
            font-size: 2.5em; 
            span{
                img{
                    width: min;
                    height: 0.80em;
                }
            }
        }#logo::after{
            color: $principal-color;
            content: 'studio';
            width: 12px;
            height: 12px;
            font-size: 0.6em;
            font-weight: lighter;
            margin-left: 0.3em;
        }
        nav{
            @include flexrow;
            gap: 10px;
        }
    }
    #divides{
        margin: auto;
        width: 90vw;
        height: 0.2vh;
        background-color: $principal-color;
    }
    main{
        @include flexrow;
        width: 100%;
        height: 79vh;
        article{
            @include flexrow;
            background-color: #ac0202;
            width: 60vw;
            height: 60vh;
            margin: auto;
            img {
                //@include filter;
                width: 50%;
                height: 100%;

            }
            //-------
            div {
                font-size: 2em;
                margin: auto;
                h1{
                    @include flexrow;
                    text-transform: uppercase;
                    word-spacing: 1px;
                    font-family: k2d;
                    color: whitesmoke;
                    span {
                        text-transform: capitalize;
                        font-weight: lighter;
                    }
                }
                p:nth-of-type(1){
                    opacity: 0.5;
                }
            }
        }
    }
    footer{
        @include flexrow;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.6em;
        gap: 3em;
        width: 100%;
        height: 10vh;
        a{
            margin-right: 8em;
            @include flexrow;
            align-items: center;
            img{
                height: 4vh;
                @include filter;
                margin-right: 1.5em;
            }
            p{
                color: whitesmoke;
                font-size: 2.5em;
                text-transform: uppercase;
                span{
                    color: whitesmoke;
                    font-weight: bolder;
                }
            }
        }
        #downlogo{
            display: inline-flex;
            position: absolute;
            left: 8em;
        }
    }
}

