@font-face {
  font-family: deathnote;
  src: url(../deathnote_font/DEATHNOTE_Font/DEATHNOTEFont.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: black;
}

a {
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ac0202;
}

body {
  background-color: rgb(20, 3, 3);
  /* Dropdown Button */
  /* Dropdown button on hover & focus */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
}
body header {
  color: black;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15vw;
  align-items: center;
  text-transform: uppercase;
}
body header #logo {
  font-size: 2.5em;
}
body header #logo span img {
  width: min;
  height: 0.8em;
}
body header #logo::after {
  color: #ac0202;
  content: "studio";
  width: 12px;
  height: 12px;
  font-size: 0.6em;
  font-weight: lighter;
  margin-left: 0.3em;
}
body header nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body aside {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  /* The side navigation menu */
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
}
body aside .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10vh; /* Stay at the top */
  background-color: rgba(0, 0, 0, 0.5); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
body aside .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: whitesmoke;
}
body aside .sidenav:hover {
  background-color: black;
}
body aside #main {
  transition: margin-left 0.5s;
  padding: 20px;
}
body .map-aside {
  left: -5vw;
  background-color: red;
}
body .map-aside .sidenav {
  left: 0;
}
body .contact-aside {
  right: 0;
}
body .contact-aside .sidenav {
  right: 0;
}
body #divides {
  margin: auto;
  width: 90vw;
  height: 0.2vh;
  background-color: #ac0202;
}
body main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}
body main article {
  display: flex;
  flex-direction: row;
  background-color: #ac0202;
  width: 60vw;
  height: 60vh;
  margin: auto;
}
body main article img {
  width: 50%;
  height: 100%;
}
body main article div {
  font-size: 2em;
  margin: auto;
}
body main article div h1 {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  word-spacing: 1px;
  font-family: k2d;
  color: whitesmoke;
}
body main article div h1 span {
  text-transform: capitalize;
  font-weight: lighter;
}
body main article div p:nth-of-type(1) {
  opacity: 0.5;
}
body footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.5em;
  gap: 3em;
  width: 100%;
  height: 10vh;
}
body footer a {
  margin-right: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body footer a img {
  height: 2.5vh;
  filter: brightness(0) saturate(100%) invert(12%) sepia(81%) saturate(7462%) hue-rotate(9deg) brightness(69%) contrast(110%);
  margin-right: 1.5em;
}
body footer a p {
  color: whitesmoke;
  font-size: 2.5em;
  text-transform: uppercase;
}
body footer a p span {
  color: whitesmoke;
  font-weight: bolder;
}
body .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
body .dropbtn:hover, body .dropbtn:focus {
  background-color: #2980B9;
}
body .dropdown {
  position: relative;
  display: inline-block;
}
body .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
body .dropdown-content a:hover {
  background-color: #ddd;
}
body .show {
  display: block;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */