$principal-color:#ac0202;
$second-color: rgba(126,126,126,1);
$special-font: deathnote;
@font-face {
    font-family: deathnote;
    src: url(../deathnote_font/DEATHNOTE_Font/DEATHNOTEFont.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
//universal divide 4 rem
@mixin Upadding {
    padding: 0 10%;
}
@mixin clear-background {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
@mixin flexcol {
    display: flex;
    flex-direction: column;
}
@mixin flexrow {
    display: flex;
    flex-direction: row;
}
//
body {
    @include flexcol;
    gap: 10rem;
    background: rgb(222, 167, 167);
    background: linear-gradient(0deg, rgba(15,15,15,1) 70%, rgba(42,42,42,1) 87%, rgba(65,65,65,1) 91%, rgba(100,100,100,1) 97%, rgba(126,126,126,1) 100%);
    //homepage
    #furro {
        z-index: 1;
        transition: all 600ms ease-in-out;
        text-transform: uppercase;
        letter-spacing: 5px;
        position: fixed;
        top: 35%;
        left: 0px;
        width: auto;
        height: auto;
        background-color: $principal-color;
        padding: 1rem;
        padding-left: 4rem;
        font-size: 2rem;
        text-decoration: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        p::first-letter{
            font-family: $special-font;
            font-weight: bolder;
        }
        div:nth-of-type(1) {
            @include flexrow;
            justify-content: space-between;
            width: 100%;
            p {
                color: black;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
                border-radius: 100%;
                border: whitesmoke solid 1px;
                p{
                    width: auto;
                    height: auto;
                    color: whitesmoke; 
                    font-size: 1rem;
                    font-family: 'Courier New', Courier, monospace;
                }
            }
        }
    }
    #furro:hover {
        background-color: rgba($principal-color,0.1);
        z-index: 1;
        width: 30rem;
        height: 40rem;
        right: 0px;
        transition: all 1s;
        animation: ease-in;
        @include flexcol;
        justify-content: space-between;
        align-items: center;
        div:nth-of-type(1) {
            p{
                color: whitesmoke;
            }
        }
        div:nth-of-type(2){
            width: 90%;
            height: 70%;
            background-color: whitesmoke;
            div {
                width: 90%;
                height: 60%;
                background-color: rgb(105, 72, 72);
            }
        }
    }
    header{
        position: fixed;
        display: flex;
        width: 100%;
        height: 4rem;
        //
        text-transform: uppercase;
        //
        font-size: 1.5em;
        font-family: k2d;
        //
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        //
        #logo {
            color: black;
            letter-spacing: 10px;
        }
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            height: 4rem;
            gap: 40px;
            a{
                color: black;
                opacity: 1;

            }
        }
        a {
            color: black;
        }
        #menup::after {
            width: 1rem;
            height: 3rem;
            background-color: $principal-color;
            color: $principal-color;
            content: "_";
        }
    }
    #introducing {
        display: flex ;
        margin-top: 10rem;
        justify-content: center;
        .ah {
            background-color: #b66363;
            width: 90%;
            min-width: none;
            height: 100rem;
        }
        #collabs {
            background-color: aqua;
            display: none;
            justify-content: center;
            align-items: center;
        }
        #info {
            width: 50%;
            height: 50rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(100,100,100,0.1);;
            h1 {
                font-family: k2d;
            }
            h1::first-letter {
                text-transform: capitalize;
                color: rgb(155, 120, 120);
            }
            img {
                width: 100%;
                height: 100%;
                filter: brightness(0) saturate(100%) invert(40%) sepia(1%) saturate(2095%) hue-rotate(28deg) brightness(108%) contrast(84%);
            }
        }
        #information {
            background-color: aqua;
            display: none;
            justify-content: center;
            align-items: center;
            margin: 10rem 0;}
    }
    main{
        display: flex;
        height: auto;
        gap: 50px;
        justify-content: center;
        margin: 4rem 0;
        .cards{
            width: 80%;
            min-width: 1.5em;
            height: 35rem;
            padding: 10px;
            background-color: whitesmoke;
            background-color: black;
            opacity: 0.4;
            .theme {
                color: white;
                h2 {
                    text-transform: uppercase;
                    font-family: k2d;
                }
                display: flex;
                flex-direction: row;
                align-items: baseline;
            }
            .more{
                display: flex;
                position: relative;
                top: 15.5rem;
                width: 100%;
                min-width: 1.5em;
                height: 50%;
                #more {
                    color: white;
                    width: 90%;
                    height: 100%;
                    font-size: 2rem;
                    margin: auto auto;
                    transition: all 400ms ease-in-out;
                }#more:hover{
                    background-color: black;
                    color: red;
                    text-decoration: none;
                    transition: all 400ms ease-in;
                    font-weight: bolder;
                }
            }
        }
        section:hover {
            opacity: 1;
            transition: all 1s;
        }
    }
    .comingsoon {
        display: flex;
        width: 100%;
        height: 15rem;
        background-color: #ac0202;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
        p {
            font-family: $special-font;
            font-weight: bolder;
        }
    }
    //homepage cluits
    .muits {
        height: 50rem;
        margin-top: 10rem;
        padding: 0 10%;
        article {
            width: 50%;
        }
        article:nth-of-type(1) {
            @include flexcol;
            justify-content: space-between;
            height: 100%;
            div {
                @include flexcol;
                width: 100%;
                height: 90%;
                gap: 30px;
                h1 {
                    font-size: 4em;
                    font-family: k2d;
                    text-indent: 20px;
                    color: whitesmoke;
                    span {
                        color: #ac0202;
                    }
                }
                p {
                    width: 100%;
                    font-size: 2em;
                    font-weight: lighter;
                    color: rgba($color: $principal-color, $alpha: 0.5);
                }
            }
            a {
                @include flexrow;
                width: 100%;
                height: 10%;
                justify-content: end;
                align-items: end;
                p {
                    width: max-content;
                    height: max-content;
                    padding: 10px;
                    background-color: #000000;
                    color: whitesmoke;
                    font-size: 2em;
                }
            }
        }
        article:nth-of-type(2) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px; 
            .mards {
                background-color: #000000;
                opacity: 1;
                width: auto;
                height: auto;
                @include flexcol;
                justify-content: end;
                div {
                    @include flexrow;
                    width: 100%;
                    height: 40px;
                    position: relative;
                    float: inline-end;
                    justify-content: space-between;
                    color: whitesmoke;
                    border: rgba($color: whitesmoke, $alpha: 0.5) solid 1px;
                    transition: all 600ms ease-in-out;
                    p, a {
                        margin-top: 12px;
                    }
                    p {
                        margin-left: 12px;
                    }
                    a {
                        margin-right: 12px;
                    }
                }
                div:hover {
                    height: 100px;
                    transition: all 600ms ease-in-out;
                    border: rgba($color: $principal-color, $alpha: 1) solid 1px;
                }
            }
            .mard1 { grid-area: 1 / 1 / 3 / 2; }
            .mard2 { grid-area: 1 / 2 / 2 / 3; }
            .mard3 { grid-area: 2 / 2 / 3 / 3; }
        }
    }
}

//mobile
@media screen and (max-width: 480px){
    body {
        background-color: gray;
        #main{
            margin-top: 0;
            #info {
                width: 90%;
                height: 50rem;
            }
        }
        #main01 {
            @include flexcol;
            section {
                margin: auto;
                border: $principal-color solid 1px;
            }
        }
    }
}
//Tablet
@media screen and (min-width: 481px) and (max-width: 768px){
    body {
        background-color: yellow;
    }
}
//Desktop
//@media only screen and (min-width: 992px){}
//Huge
//@media only screen and (min-width: 1280px){}

///-----------------------------------

//cluits



