@font-face {
  font-family: deathnote;
  src: url(../deathnote_font/DEATHNOTE_Font/DEATHNOTEFont.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10rem;
  background: rgb(222, 167, 167);
  background: linear-gradient(0deg, rgb(15, 15, 15) 70%, rgb(42, 42, 42) 87%, rgb(65, 65, 65) 91%, rgb(100, 100, 100) 97%, rgb(126, 126, 126) 100%);
}
body #furro {
  z-index: 1;
  transition: all 600ms ease-in-out;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: fixed;
  top: 35%;
  left: 0px;
  width: auto;
  height: auto;
  background-color: #ac0202;
  padding: 1rem;
  padding-left: 4rem;
  font-size: 2rem;
  text-decoration: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
body #furro p::first-letter {
  font-family: deathnote;
  font-weight: bolder;
}
body #furro div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
body #furro div:nth-of-type(1) p {
  color: black;
}
body #furro div:nth-of-type(1) a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: whitesmoke solid 1px;
}
body #furro div:nth-of-type(1) a p {
  width: auto;
  height: auto;
  color: whitesmoke;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}
body #furro:hover {
  background-color: rgba(172, 2, 2, 0.1);
  z-index: 1;
  width: 30rem;
  height: 40rem;
  right: 0px;
  transition: all 1s;
  animation: ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body #furro:hover div:nth-of-type(1) p {
  color: whitesmoke;
}
body #furro:hover div:nth-of-type(2) {
  width: 90%;
  height: 70%;
  background-color: whitesmoke;
}
body #furro:hover div:nth-of-type(2) div {
  width: 90%;
  height: 60%;
  background-color: rgb(105, 72, 72);
}
body header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4rem;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: k2d;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body header #logo {
  color: black;
  letter-spacing: 10px;
}
body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  height: 4rem;
  gap: 40px;
}
body header nav a {
  color: black;
  opacity: 1;
}
body header a {
  color: black;
}
body header #menup::after {
  width: 1rem;
  height: 3rem;
  background-color: #ac0202;
  color: #ac0202;
  content: "_";
}
body #introducing {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
}
body #introducing .ah {
  background-color: #b66363;
  width: 90%;
  min-width: none;
  height: 100rem;
}
body #introducing #collabs {
  background-color: aqua;
  display: none;
  justify-content: center;
  align-items: center;
}
body #introducing #info {
  width: 50%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.1);
}
body #introducing #info h1 {
  font-family: k2d;
}
body #introducing #info h1::first-letter {
  text-transform: capitalize;
  color: rgb(155, 120, 120);
}
body #introducing #info img {
  width: 100%;
  height: 100%;
  filter: brightness(0) saturate(100%) invert(40%) sepia(1%) saturate(2095%) hue-rotate(28deg) brightness(108%) contrast(84%);
}
body #introducing #information {
  background-color: aqua;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}
body main {
  display: flex;
  height: auto;
  gap: 50px;
  justify-content: center;
  margin: 4rem 0;
}
body main .cards {
  width: 80%;
  min-width: 1.5em;
  height: 35rem;
  padding: 10px;
  background-color: whitesmoke;
  background-color: black;
  opacity: 0.4;
}
body main .cards .theme {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
body main .cards .theme h2 {
  text-transform: uppercase;
  font-family: k2d;
}
body main .cards .more {
  display: flex;
  position: relative;
  top: 15.5rem;
  width: 100%;
  min-width: 1.5em;
  height: 50%;
}
body main .cards .more #more {
  color: white;
  width: 90%;
  height: 100%;
  font-size: 2rem;
  margin: auto auto;
  transition: all 400ms ease-in-out;
}
body main .cards .more #more:hover {
  background-color: black;
  color: red;
  text-decoration: none;
  transition: all 400ms ease-in;
  font-weight: bolder;
}
body main section:hover {
  opacity: 1;
  transition: all 1s;
}
body .comingsoon {
  display: flex;
  width: 100%;
  height: 15rem;
  background-color: #ac0202;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
}
body .comingsoon p {
  font-family: deathnote;
  font-weight: bolder;
}
body .muits {
  height: 40rem;
  padding: 0 10%;
  margin: auto;
}
body .muits article {
  width: 50%;
}
body .muits article:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
body .muits article:nth-of-type(1) div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  gap: 30px;
}
body .muits article:nth-of-type(1) div h1 {
  font-size: 3em;
  font-family: k2d;
  text-indent: 20px;
  color: whitesmoke;
}
body .muits article:nth-of-type(1) div h1 span {
  color: #ac0202;
}
body .muits article:nth-of-type(1) div h1 span img {
  height: 1em;
}
body .muits article:nth-of-type(1) div p {
  width: 100%;
  font-size: 1em;
  font-weight: lighter;
  color: rgba(172, 2, 2, 0.5);
}
body .muits article:nth-of-type(1) a {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  justify-content: end;
  align-items: end;
}
body .muits article:nth-of-type(1) a p {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  background-color: #000000;
  font-size: 2em;
}
body .muits article:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
body .muits article:nth-of-type(2) .mards {
  background-image: url(../img/logos/logo.svg);
  background-size: cover;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
body .muits article:nth-of-type(2) .mards div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 5rem;
  position: relative;
  float: inline-end;
  justify-content: space-between;
  color: whitesmoke;
  border: rgba(245, 245, 245, 0.5) solid 1px;
  transition: all 600ms ease-in-out;
}
body .muits article:nth-of-type(2) .mards div .cards-min-info {
  display: none;
  width: 100%;
  margin: 0 12px;
}
body .muits article:nth-of-type(2) .mards div .itemname, body .muits article:nth-of-type(2) .mards div .seemore {
  margin-top: 12px;
  width: 44%;
  height: 3rem;
}
body .muits article:nth-of-type(2) .mards div .itemname {
  margin-left: 12px;
}
body .muits article:nth-of-type(2) .mards div .itemname span {
  color: beige;
  opacity: 0.5;
}
body .muits article:nth-of-type(2) .mards div .seemore {
  margin-right: 12px;
  text-align: end;
}
body .muits article:nth-of-type(2) .mards div:hover {
  max-height: auto;
  height: 20rem;
  transition: all 700ms ease-in-out;
  border: #ac0202 solid 1px;
}
body .muits article:nth-of-type(2) .mards div:hover .cards-min-info {
  display: block;
  opacity: 1;
  transition: all 1s;
}
body .muits article:nth-of-type(2) .mard1 {
  grid-area: 1/1/3/2;
}
body .muits article:nth-of-type(2) .mard2 {
  grid-area: 1/2/2/3;
}
body .muits article:nth-of-type(2) .mard3 {
  grid-area: 2/2/3/3;
}
body .muits .outlinks {
  color: #ac0202;
}
body .muits .outlinks:hover {
  color: whitesmoke;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 2rem;
  height: 2rem;
  gap: 10px;
}
.logo img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  body {
    background-color: gray;
  }
  body #main {
    margin-top: 0;
  }
  body #main #info {
    width: 90%;
    height: 50rem;
  }
  body #main01 {
    display: flex;
    flex-direction: column;
  }
  body #main01 section {
    margin: auto;
    border: #ac0202 solid 1px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: yellow;
  }
}/*# sourceMappingURL=style.css.map */